#!/bin/zsh
#
# .aliases - Set whatever shell aliases you want.
#

# single character aliases - be sparing!
alias _=sudo
alias l=ls
alias g=git

# mask built-ins with better defaults
alias vi=vim

# more ways to ls
alias ll='ls -lh'
alias la='ls -lAh'
alias ldot='ls -ld .*'
alias latr= 'ls -latr'
alias lsize='ls -l --block-size=M'

# fix common typos
alias quit='exit'
alias cd..='cd ..'

# tar
alias tarls="tar -tvf"
alias untar="tar -xf"

# find
alias fd='find . -type d -name'
alias ff='find . -type f -name'

# url encode/decode
alias urldecode='python3 -c "import sys, urllib.parse as ul; \
    print(ul.unquote_plus(sys.argv[1]))"'
alias urlencode='python3 -c "import sys, urllib.parse as ul; \
    print (ul.quote_plus(sys.argv[1]))"'

# misc
alias please=sudo
alias zshrc='${EDITOR:-vim} "${ZDOTDIR:-$HOME}"/.zshrc'
alias zbench='for i in {1..10}; do /usr/bin/time zsh -lic exit; done'
alias zdot='cd ${ZDOTDIR:-~}'

#misc-custom
alias openws='open -a Sublime\ Text.app'
#alias mypubip='curl icanhazip.com'
alias reload_profile="source ~/.config/zsh/.zshrc"
alias shortcuts='cat ~/Desktop/terminal_shortcuts.txt'
alias lsize='ls -l --block-size=M'
alias fullhistory='history 1'
alias cat='bat --paging=never'
#
function remote() { echo 'sshfs -o allow_other,defer_permissions,IdentityFile=~/.ssh/id_rsa '$1':/ /Users/rhodge/remotehosts' | pbcopy }
function myalias() { sed -n -e '/#misc-custom/,$p' ~/.config/zsh/.aliases }
function myip() { echo "\nLocal ip's" && ifconfig | awk '$1 == "inet" {print $2}' && echo "\nPublic IP" && curl icanhazip.com }
#